body {
	background-color: #000;
	color: white;
	font-family: 'Press Start 2P', cursive;
}
#myCanvas { border: none; display: block; background: rgb(0,0,0); width: 100%;  height: auto;}
.canvas { position:absolute; padding-top: 20px;}
.main {width: auto; max-width: 700px; margin: 10px auto; position: static; left: auto;}
.content { width: auto; text-align: left; margin: 0;}
.container {text-align: center; margin:0; padding: 0;}
.wrapper { padding:0;}
.game  { max-width: 540px;}

.about { font-size: 10px; margin-top: 20px; text-align: center;}


body, html { font-size: 15px; }

div.audio {}
audio {display: block; }

.score { width: 180px; }
.score, .lives { display: inline-block; }

/* Controls */

.controls { text-align: center; margin-top: 15px;}

.controlSound { 
	background: url('img/audio-icon.png');
	width: 73px;
	height: 50px;
	position: relative;
	bottom: 5px;
	background-size: 100%;
	height: 25px;
	width: 36px;
	float: right;
	}
	
#mute { 
	display: none; 
	width: 36px; 
	height: 25px;
	}

.controlButton {
	display: inline-block;
	width: 90px;
	height: 90px;
	margin: 5px;
	background: #E01B1B;
	line-height: 70px;
	border-radius: 50%;
	font-weight: bold;
	font-size: 60px;
}

.controlButton:hover { background: #B01717;}

.description { display: none; }

@media screen and (max-width: 1050px) {
	html, body { background: rgb(0,0,0);}
}
@media screen and (max-width: 650px) {
	.game { width: 93%;}
}

@media screen and (max-width: 400px) {
	
	.nomobile {display: none; }
	.mobile {display: block; }
	
	html, body { 
		overflow-x: hidden; 
		height: 100%;
		}
	
	.main { margin: 10px auto; }
	.content { min-height: 0; }
	
	.controlButton {
		width: 50px;
		height: 50px;
		line-height: 30px;
		font-size: 30px;
	}
	/*canvas#myCanvas { margin: 5px auto; }	*/

}