body {
	background-color: #000;
	color: white;
	font-family: 'Press Start 2P', cursive;
}

* { box-shadow: none !important; }

.content#text-content {
	display: none;
}

#myCanvas { border: none; display: block; background: rgb(0,0,0); width: 100%;  height: auto;}
#canvas-container { position: relative;}
#canvas-overlay-container {
	position: absolute;
	background: rgba(0,0,0,0.7);
	height: 100%; 
	width: 540px;
	max-width: 100%;
}
#canvas-overlay-content { 
	position: absolute; 
	top: 33%; 	
	left: 0; 
	margin-top: 0;
	max-width: 100%; 
	text-align: center;
	width: 540px;
	max-width: 100%;
	}
#canvas-overlay-content #title {
	text-transform: uppercase;
	font-size: 150%;
}

.canvas { position:absolute; padding-top: 20px;}
.main {width: 100%; max-width: 660px; margin: 10px auto; position: static; left: auto;}
.content { width: 100%; max-width: 540px; text-align: left; margin: 0;}
.container {text-align: center; margin:0; padding: 0;}
.wrapper { padding:0;}
.game  { max-width: 540px;}

.about { font-size: 10px; margin-top: 20px; text-align: center; display: none;}


body, html { font-size: 15px; }

div.audio {}
audio {display: block; }

.score { width: 180px; }
.score, .lives { display: inline-block; }

/* ---------- Controls ------------------------*/

.controls { text-align: center; margin-top: 15px;}

/* Arrow Keys - only displayed when game isn't paused */
#game-buttons { display: none;}

/* Game Menu - displayed when game is paused */
#menu-buttons ul, .controls#menu-buttons ul li{ list-style: none; padding: 0;}
#menu-buttons ul li { 
	height: 40px;
	line-height: 40px;
	font-size: 120%;
	}

.controlSound { 
	background: url('img/audio-icon.png');
	width: 73px;
	height: 50px;
	position: relative;
	bottom: 5px;
	background-size: 100%;
	height: 25px;
	width: 36px;
	float: right;
	}
	
#mute { 
	display: none; 
	width: 36px; 
	height: 25px;
	}

.controlButton {
	display: inline-block;
	width: 90px;
	height: 90px;
	margin: 5px;
	background: #c80a0a;
	line-height: 70px;
	border-radius: 50%;
	font-weight: bold;
	font-size: 60px;
	cursor:pointer;
}

.description { display: none; }

@media screen and (max-width: 1050px) {
	html, body { background: rgb(0,0,0);}
}
@media screen and (max-width: 650px) {
	.game { width: 93%;}
}

@media screen and (max-width: 400px) {
	
	.nomobile {display: none; }
	.mobile {display: block; }
	
	html, body { 
		overflow-x: hidden; 
		height: 100%;
		}
	
	.main { margin: 10px auto; }
	.content { min-height: 0; }
	
	.controlButton {
		width: 50px;
		height: 50px;
		line-height: 30px;
		font-size: 30px;
	}
	/*canvas#myCanvas { margin: 5px auto; }	*/

}